# YouTube Stream Settings
STREAM_KEY=xxxx

# Better Stack Logging
BETTER_STACK_TOKEN=WeEEuddnK7H8G8TM5rMALgQN
BETTER_STACK_URL=https://s2292498.eu-fsn-3.betterstackdata.com

# Optional Overrides
# BACKGROUND_VIDEO_PATH=assets/background/backgroundVideo.mp4
# PLAYLIST_PATH=playlist/playlist.txt
# YOUTUBE_RTMP_URL=rtmp://a.rtmp.youtube.com/live2
# MUSIC_DIR=assets/music
# CHECK_INTERVAL=30
